<div class="cronos-main-wrapper" [ngClass]="theme === 'light' ? 'light' : 'dark'">
	<div class="toggle-theme" (click)="toggleTheme()">theme</div>
	<div class="cronos-main-container">
		<img class="absolute-knight" src="../../assets/picture/cronos/absolute_knight.svg" alt="absolute-knight">
			<div class="header-container">
				<div class="header-logo dark" *ngIf="theme === 'dark'">CRON<img class="logo-eye" src="../../assets/picture/cronos/logo-eye.png">S</div>
				<div class="header-logo light" *ngIf="theme === 'light'">CRON<img class="logo-eye" src="../../assets/picture/cronos/logo_eye_light.svg">S</div>
				<div class="header-links-container">
					<a href="#" class="header-links">Home</a>
					<a href="#" class="header-links">Account</a>
					<a href="#" class="header-links">Download</a>
					<a href="#" class="header-links">Description</a>
					<a href="#" class="header-links">Statistic</a>
					<a href="#" class="header-links">Donate</a>
				</div>
				<div class="header-flags-container">
					<img class="header-flags"	src="../../assets/picture/cronos/united_kingdom.png" alt="uk">
					<img class="header-flags"	src="../../assets/picture/cronos/tag_russia.png" alt="rus">
					<img class="header-flags"	src="../../assets/picture/cronos/tag_germany.png" alt="germany">
					<img class="header-flags"	src="../../assets/picture/cronos/tag_spain.png" alt="spain">
				</div>
			</div>
		<div class="left-side-container">
			<div class="left-side-servers-container">
				<div class="left-side-server1-container">
					<img src="../../assets/picture/cronos/server1_icon_new.svg" alt="server1">
					<div class="name-server">Delora x35</div>
					<div class="status-server">online</div>
				</div>
				<div class="left-side-server1-container">
					<img src="../../assets/picture/cronos/server2_icon_new.svg" alt="server2">
					<div class="name-server">Brile x7</div>
					<div class="status-server">online</div>
				</div>
				<div class="left-side-server1-container">
					<img class="discod-icon" src="../../assets/picture/cronos/server3_icon_new.svg" alt="server3">
					<div class="name-server">Drake x3</div>
					<div class="status-server">online</div>
				</div>
			</div>
			<div class="left-side-discord-container">
				<img class="discord-icon" src="../../assets/picture/cronos/discord_icon.png" alt="discord-img">
				<div class="discord-text-container">
					<div class="discord-text1">52 Members</div>
					<div class="discord-text2">Online</div>
				</div>
			</div>
			<div class="left-side-vote-container">
				<div class="vote-text">VOTE FOR US</div>
				<div class="vote-empty-space-container">
					<div class="vote-empty-space"></div>
					<div class="vote-empty-space"></div>
					<div class="vote-empty-space"></div>
				</div>
			</div>
		</div>
		<div class="center-container">
			<div class="center-welcome-container">
				<div class="welcome-text-container">
					<div class="welcome-text1">Welcome to </div>
					<div class="welcome-text2">CRONOS</div>
					<div class="welcome-text3">Free High Five Server</div>
				</div>
				<img class="welcome-img" src="../../assets/picture/cronos/welcome_eye.png" alt="welcome_eye">
			</div>
			<div class="center-line"></div>
			<div class="four-elements-container">
				<div class="four-elements-left-side">
					<div class="free-download-container">
						<div class="free_download_text_container">
							<div class="free_download_text1">Free Download</div>
							<div class="free_download_text2">Game Client</div>
						</div>
						<img class="free-down-load" src="../../assets/picture/cronos/free_down_load_new.svg" alt="free_down_load">
					</div>
					<div class="game-system-container">
						<div class="free_download_text_container">
							<div class="game-system_text1">Game System</div>
							<div class="game-system_text2">Connect Patch</div>
						</div>
						<img class="free-down-load" src="../../assets/picture/cronos/free_down_load_new.svg" alt="free_down_load">
					</div>
				</div>
				<div class="four-elements-right-side">
					<div class="grand-opening-container">
						<div class="grand-opening-text1">Grand opening</div>
						<div class="grand-opening-text2">DRAKE x3</div>
						<div class="grand-opening-text3">23rd of July at 19:00 GMT+2</div>
					</div>
					<div class="update-in-container">
						<div class="update-in-text1">Update in </div>
						<div class="update-in-text2">the game store</div>
					</div>
				</div>
			</div>
			<div class="best-player-and-forum-container">
				<div class="best-player-container">
					<div class="best-player-header-container">
						<img src="../../assets/picture/cronos/best_player_arrow1.svg" alt="arrow1">
						<div class="best-player-header-text">BEST PLAYER: PVP</div>
						<img src="../../assets/picture/cronos/best_player_arrow2.svg" alt="arrow1">
					</div>
					<div class="best-player-main-container">
						<div class="best-player-line-container">
							<img class="best-player-star"  src="../../assets/picture/cronos/golden_star.svg" alt="star">
							<div class="best-player-line-text1">KateKate</div>
							<div class="best-player-line-text2">12 485</div>
						</div>
						<div class="best-player-line"></div>
						<div class="best-player-line-container">
							<img class="best-player-star" src="../../assets/picture/cronos/silver_star.svg" alt="star">
							<div class="best-player-line-text1">KateKate</div>
							<div class="best-player-line-text2">12 485</div>
						</div>
						<div class="best-player-line"></div>
						<div class="best-player-line-container">
							<img class="best-player-star"  src="../../assets/picture/cronos/bronze_star.svg" alt="star">
							<div class="best-player-line-text1">KateKate</div>
							<div class="best-player-line-text2">12 485</div>
						</div>
						<div class="best-player-line"></div>
						<div class="best-player-line-container">
							<div class="best-player-line-text1">KateKate</div>
							<div class="best-player-line-text2">12 485</div>
						</div>
						<div class="best-player-line"></div>
						<div class="best-player-line-container">
							<div class="best-player-line-text1">KateKate</div>
							<div class="best-player-line-text2">12 485</div>
						</div>
						<div class="best-player-line"></div>
						<div class="best-player-line-container">
							<div class="best-player-line-text1">KateKate</div>
							<div class="best-player-line-text2">12 485</div>
						</div>
						<div class="best-player-line"></div>
						<div class="best-player-line-container">
							<div class="best-player-line-text1">KateKate</div>
							<div class="best-player-line-text2">12 485</div>
						</div>
						<div class="best-player-line"></div>
						<div class="best-player-line-container">
							<div class="best-player-line-text1">KateKate</div>
							<div class="best-player-line-text2">12 485</div>
						</div>
						<div class="best-player-line"></div>
					</div>
					<div class="best-player-btn">
						<span class="best-player-btn-text">Statistics</span>
					</div>
				</div>
				<div class="forum-container">
					<div class="forum-header-container">
						<div class="forum-header-text-container">
							<div class="forum-header-text1">FORUM</div>
							<div class="forum-header-text2">LATEST DISCUSSIONS</div>
						</div>
					</div>
					<div class="forum-main-container">
						<div class="forum-line-container">
							<div class="forum-line-text1">Streamer event</div>
							<div class="forum-line-text1-and-text2-container">
								<div class="forum-line-text2">AUTHOR: OZZY</div>
								<div class="forum-line-text3">08:27 JULY 31, 2021</div>
							</div>
						</div>
						<div class="forum-line-container">
							<div class="forum-line-text1">Streamer event</div>
							<div class="forum-line-text1-and-text2-container">
								<div class="forum-line-text2">AUTHOR: OZZY</div>
								<div class="forum-line-text3">08:27 JULY 31, 2021</div>
							</div>
						</div>
						<div class="forum-line-container">
							<div class="forum-line-text1">Streamer event</div>
							<div class="forum-line-text1-and-text2-container">
								<div class="forum-line-text2">AUTHOR: OZZY</div>
								<div class="forum-line-text3">08:27 JULY 31, 2021</div>
							</div>
						</div>
						<div class="forum-line-container">
							<div class="forum-line-text1">Streamer event</div>
							<div class="forum-line-text1-and-text2-container">
								<div class="forum-line-text2">AUTHOR: OZZY</div>
								<div class="forum-line-text3">08:27 JULY 31, 2021</div>
							</div>
						</div>
						<div class="forum-line-container">
							<div class="forum-line-text1">Streamer event</div>
							<div class="forum-line-text1-and-text2-container">
								<div class="forum-line-text2">AUTHOR: OZZY</div>
								<div class="forum-line-text3">08:27 JULY 31, 2021</div>
							</div>
						</div>
						<div class="forum-line-container">
							<div class="forum-line-text1">Streamer event</div>
							<div class="forum-line-text1-and-text2-container">
								<div class="forum-line-text2">AUTHOR: OZZY</div>
								<div class="forum-line-text3">08:27 JULY 31, 2021</div>
							</div>
						</div>
					</div>
					<div class="forum-btn">
						<span class="forum-btn-text">Go Forum</span>
					</div>
				</div>
			</div>
		</div>
		<div class="right-side-container">
			<div class="right-side-absolute-border"></div>
			<div class="right-side-top-icons">
				<img src="../../assets/picture/cronos/facebook.svg" alt="facebook">
				<img src="../../assets/picture/cronos/youtube.svg" alt="youtube">
				<img src="../../assets/picture/cronos/telegram.svg" alt="telegram">
				<img src="../../assets/picture/cronos/skype.svg" alt="skype">
			</div>
			<div class="right-side-chats-container">
				<img src="../../assets/picture/cronos/chats.svg" alt="chats">
				<div class="right-side-chats-text">We are online!</div>
			</div>
		</div>
		<div class="center-footer-line"></div>
		<div class="footer-container">
			<div class="footer-logo">CRON<img class="logo-eye" src="../../assets/picture/cronos/logo-eye.png">S</div>
			<div class="footer-four-elements-container">
				<div class="footer-element"></div>
				<div class="footer-element"></div>
				<div class="footer-element"></div>
				<div class="footer-element"></div>
			</div>
			<div class="footer-links-container">
				<div>RULES</div>
				<div>PRIVACY POLICY</div>
				<div>REFUND POLICY</div>
				<div>COMMUNITY</div>
			</div>
			<div class="footer-copyright">Copyright © 2021</div>
		</div>
	</div>
</div>

