<div class="main-wrapper">
	<div class="left-header-wrapper">
		<div class="left-header-text-wrapper">
			<div>My works</div>
			<div style="text-decoration-line: underline;">My biography</div>
			<div>Work</div>
		</div>
	</div>
	<div class="header-wrapper">
		<div class="header-text-wrapper">
			<div>Work</div>
			<div>Career</div>
			<div>My Life</div>
			<div>Contacts</div>
			<div class="little-border"></div>
			<div>Courses</div>
		</div>
	</div>
	<div class="left-right-wrapper">
		<div class="picture">
			<img src="../../assets/picture/alyn_woods_foto.png">
		</div>
		<div class="main-text-container">
			<div class="main-text-title">Aylin Woods</div>
			<div class="main-text">
				Aylin Woods Marshall is a 23-year-old trainee doctor who enjoys working on cars,
				swimming and painting. She is joyful and communicative, but can also be very lazy and a bit untidy.
				She is an Ukraine Christian. She has a degree in fine arts. She grew up in a working class neighbourhood.
				She was raised by his mother, his father having left when he was young. She is currently single.
				Aylin was too lazy for the relationship to move forwards.
				Aylin's best friend is a trainee doctor called Cory Peterson. They have a very firey friendship.
			</div>
				<div class="some-text">
					It is a long established fact that a reader will be distracted
					by the readable content of a page when looking at its layout.
				</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-left-container">
			<div class="footer-border-ellipse1">
				<div class="footer-border1"></div>
				<div class="footer-ellipse1"></div>
			</div>
			<div class="footer-text1">Previous</div>
		</div>
		<div class="footer-right-container">
			<div class="footer-text2">Next</div>
			<div class="footer-border-ellipse2">
				<div class="footer-ellipse2"></div>
				<div class="footer-border2"></div>
			</div>
		</div>
	</div>
</div>