<div class="apartment-main-container">
	<div class="apartment-left-side">
		<img class="apartment-logo" src="../../assets/picture/apartment_logo.png" alt="logo">
		<div class="left-text-container">
			<div class="left-text-title">Modern Apartment</div>
			<div class="left-text">It is a long established fact that a reader will be distracted by the readable
				content of a page when looking at its layout. The point of using Lorem
				 Ipsum is that it has a more-or-less normal distribution of letters</div>
			<button class="left-btn"><span class="left-btn-text">Contact us</span></button>
		</div>
	</div>
	<div class="apartment-right-side">
		<div class="right-side-header-container">
			<div class="right-side-header-text">Sale</div>
			<div class="right-side-header-text">Rent</div>
			<div class="right-side-header-text">Contacts</div>
			<div class="right-side-header-text">Our Apartment</div>
		</div>
		<div class="image-container">
			<img class="image-bubbles1" src="../../assets/picture/Bubbles_bottom.png" alt="bubbles1">
			<img class="image-bubbles2" src="../../assets/picture/Bubbles_top.png" alt="bubbles2">
			<img class="apartment-image" src="../../assets/picture/apartment.png" alt="apartment">
		</div>
	</div>
	<div class="apartment-footer-container">
		<div class="footer-left-container">
			<div>Inst</div>
			<div>FB</div>
		</div>
		<img src="../../assets/picture/apartment_arrow.png" alt="arrow">
	</div>
</div>