<div class="ballet-main-wrapper">
	<div class="ballet-header-wrapper">
		<div class="ballet-header-container">
			<img src="../../assets/picture/ballet/header_dance_icon.svg" alt="" class="header-dance-icon">
			<div class="header-links-container">
				<div class="header-links">About us</div>
				<div class="header-links">Gallery</div>
				<div class="header-links-plus">
					<span>Courses</span>
					<div class="header-links-underline"></div>
				</div>
				<div class="header-links">Schedule</div>
			</div>
			<div class="header-instagram-twitter-container">
				<img src="../../assets/picture/ballet/header_twitter_icon.svg" alt="twitter-icon">
				<img src="../../assets/picture/ballet/header_instagram_icon.svg" alt="instagram-icon">
			</div>
		</div>
	</div>
	<div class="ballet-technique-wrapper">
		<div class="ballet-technique-text-container">
			Ballet is not just a technique. The best parties dance with their souls
		</div>
		<img class="ballet-technique-img" src="../../assets/picture/ballet/ballet_technique_img.svg" alt="technique-img">
		<img class="ballet-technique-arrow" src="../../assets/picture/ballet/ballet_technique_arrow.svg" alt="technique-arrow">
	</div>
	<div class="ballet-about-us-wrapper">
		<img class="about-us-img" src="../../assets/picture/ballet/about_us_img.svg" alt="about_us_img">
		<div class="about-us-text-wrapper">
			<div class="about-us-title">About us</div>
			<div class="about-us-text">Ballet is not a popular art for the masses. Everyone has been to a ballet performance at least once in their life.
				 And on this meeting with the ballet for most of us ends. Ballet requires attention, understanding, the desire to see and <br>
				perceive beauty</div>
			<div class="about-us-btn">
				<div class="about-us-btn-container">
					<span>Read more</span>
					<img class="about-us-btn-arrow" src="../../assets/picture/ballet/footer_btn_arrow.svg" alt="about-us-btn-arrow">
				</div>
			</div>
		</div>
	</div>
	<div class="ballet-gallery-wrapper">
		<div class="gallery-text">Gallery</div>
		<div class="gallery-arrows-and-photos-container">
			<img class="gallery-arrow1" src="../../assets/picture/ballet/gallery_arrow2.svg" alt="gallery-arrow1">
			<img class="gallery-photo1"	src="../../assets/picture/ballet/gallery_photo1.svg" alt="gallery-photo1">
			<img class="gallery-photo2"	src="../../assets/picture/ballet/gallery_photo2.svg" alt="gallery-photo2">
			<img class="gallery-photo3"	src="../../assets/picture/ballet/gallery_photo3.svg" alt="gallery-photo3">
			<img class="gallery-arrow2" src="../../assets/picture/ballet/gallery_arrow2.svg" alt="gallery-arrow2">
		</div>
	</div>
	<div class="ballet-courses-wrapper">
		<div class="courses-text">Courses</div>
		<div class="classic-intensive-mix-wrapper">
			<div class="classic-container">
				<div class="classic-tittle">Classic</div>
				<div class="classic-ul">
					<ul>
						<li>Classes 3 times a week</li>
						<li>2.5 hours </li>
						<li>Many practices</li>
					</ul>
				</div>
				<div class="classic-price">Price: 110$/Month</div>
				<div class="classic-btn"><span>Reserve</span></div>
			</div>
			<div class="intensive-container">
				<div class="intensive-tittle">Intensive</div>
				<div class="classic-ul">
					<ul>
						<li>Classes every day</li>
						<li>3 hours </li>
						<li>Many practices</li>
					</ul>
				</div>
				<div class="intensive-price">Price: 259$/Month</div>
				<div class="intensive-btn"><span>Reserve</span></div>
			</div>
			<div class="mix-container">
				<div class="mix-tittle">Mix</div>
				<div class="classic-ul">
					<ul>
						<li>Classes 4 times a week</li>
						<li>2.5 hours  </li>
						<li>Study of other genres</li>
					</ul>
				</div>
				<div class="mix-price">Price: 499$/Month</div>
				<div class="mix-btn"><span>Reserve</span></div>
			</div>
		</div>
	</div>
	<div class="ballet-schedule-wrapper">
		<div class="schedule-tittle">Our schedule</div>
		<div class="schedule-days-wrapper">
			<div class="schedule-day-container">
				<div class="schedule-text-container">Monday, Wednesday, Friday 18:00-20:30</div>
			</div>
			<div class="schedule-day-container">
				<div class="schedule-text-container">Monday, Wednesday, Friday 18:00-20:30</div>
			</div>
			<div class="schedule-day-container">
				<div class="schedule-text-container">Every day 17:00-20:00</div>
			</div>
		</div>
		<div class="schedule-btn"><span>Personal schedule</span></div>
	</div>
	<div class="ballet-teachers-wrapper">
		<div class="teachers-title">Teachers</div>
		<div class="teachers-wrapper">
			<div class="teacher-container">
				<img src="../../assets/picture/ballet/teacher1.svg" alt="teacher1" class="teachers-photo">
				<div class="teachers-text-container">
					<div class="teachers-text-title">Holly Rainolds</div>
					<div class="teachers-text">Ballet dancer of the highest category at the Lviv Opera and Ballet Theater</div>
				</div>
			</div>
			<div class="teacher-container">
				<img src="../../assets/picture/ballet/teacher2.svg" alt="teacher2" class="teachers-photo">
				<div class="teachers-text-container">
					<div class="teachers-text-title">Asley Rian</div>
					<div class="teachers-text">Soloist of the National Opera of Ukraine, chief choreographer of the school</div>
				</div>
			</div>
			<div class="teacher-container">
				<img src="../../assets/picture/ballet/teacher3.svg" alt="teacher3" class="teachers-photo">
				<div class="teachers-text-container">
					<div class="teachers-text-title">Rian Stimerman</div>
					<div class="teachers-text">Choreographer
						of children's groups, dancer of the highest category in Ballet</div>
				</div>
			</div>
			<div class="teacher-container">
				<img src="../../assets/picture/ballet/teacher4.svg" alt="teacher4" class="teachers-photo">
				<div class="teachers-text-container">
					<div class="teachers-text-title">Aria Steit</div>
					<div class="teachers-text">Ballet dancer of the highest category at the Lviv Ballet Opera for Children</div>
				</div>
			</div>
		</div>
		<div class="teacher-arrow-wrapper">
			<img src="../../assets/picture/ballet/teacher-arrow.svg" alt="teacher-arrow">
		</div>
	</div>
	<div class="ballet-contacts-wrapper">
		<div class="contacts-title">Contacts</div>
		<div class="contacts-map-info-container">
			<div class="contacts-map-container">
				<img class="map-img" src="../../assets/picture/ballet/contacts_map.svg" alt="map">
				<img class="map-pointer" src="../../assets/picture/ballet/map_pointer.svg" alt="map-pointer">
			</div>
			<div class="contacts-info-container">
				<div class="contacts-street">Kleparivska Street 146b</div>
				<div class="contacts-icon-container">
					<div class="contacts-icon-text-container">
						<img class="contacts-icon"	src="../../assets/picture/ballet/instagram_icon.svg" alt="">
						<div class="contacts-text">BalletSchool</div>
					</div>
					<div class="contacts-icon-text-container">
						<img class="contacts-icon"	src="../../assets/picture/ballet/twitter_icon.svg" alt="">
						<div class="contacts-text">BalletSchool</div>
					</div>
					<div class="contacts-icon-text-container">
						<img class="contacts-icon"	src="../../assets/picture/ballet/facebook_icon.svg" alt="">
						<div class="contacts-text">BalletSchool</div>
					</div>
				</div>
				<div class="contacts-number">+380 (965) 588 47 69</div>
			</div>
		</div>
	</div>
	<div class="ballet-lesson-main-wrapper">
		<div class="lesson-title">Try a trial lesson</div>
		<div class="name-phone-email-wrapper">
			<div class="name-container">
				<div class="name-text">Name</div>
				<div class="name-line"></div>
			</div>
			<div class="phone-container">
				<div class="phone-text">Phone number</div>
				<div class="phone-line"></div>
			</div>
			<div class="email-container">
				<div class="email-text">Email</div>
				<div class="email-line"></div>
			</div>
		</div>
		<div class="lesson-btn-wrapper">
			<div class="lesson-btn-container">
				<span>Give it a try</span>
			</div>
		</div>
	</div>
	<div class="ballet-footer-wrapper">
		<div class="three-elements-wrapper">
			<div class="all-rights-container">
				<img class="all-rights-icon" src="../../assets/picture/ballet/all_rights_logo.svg" alt="all-rights-icon">
				<div class="all-right-text">All rights reserved</div>
			</div>
			<div class="about-gallery-courses-schedule-wrapper">
				<span>About us</span>
				<span>Gallery</span>
				<span>Courses</span>
				<span>Schedule</span>
			</div>
			<div class="answer-wrapper">
				<div class="answer-text-container">We answer all your questions</div>
				<div class="answer-phone"><span>+79 (036) 985 75 66</span></div>
			</div>
		</div>
		<div class="footer-icons-wrapper">
			<img src="../../assets/picture/ballet/footer_twitter_icon.svg" alt="footer_twitter_icon">
			<img src="../../assets/picture/ballet/footer_Instagram_icon.svg" alt="footer_Instagram_icon">
		</div>
	</div>
</div>