<!-- <app-apartment></app-apartment>
<app-art-galery></app-art-galery>
<app-aylin-woods></app-aylin-woods>
<app-profile></app-profile>
<app-cronos></app-cronos> -->
<div class="main">
	<router-outlet></router-outlet>
</div>
<div class="navigation-bar-wrapper">
	<div class="navigation-bar">
			<a class="root-links" routerLink="/cronos">cronos</a>
			<a class="root-links" routerLink="/apartment">apartment</a>
			<a class="root-links" routerLink="/art-galery">art-galery</a>
			<a class="root-links" routerLink="/aylin-woods">aylin-woods</a>
			<a class="root-links" routerLink="/profile">profile</a>
			<a class="root-links" routerLink="/ballet">ballet</a>
	</div>
</div>
