<div class="profile-content">
	<div class="left-side">
		<div class="top-content">
			<div class="ellipse-name">
				<div class="ellipse1"></div>
				<div class="name-here">Name here</div>
			</div>
			<div class="left-frames">
				<div class="left-frame1">
					<img src="../../assets/picture/profile_house2.png" alt="LittleHouse" width="35px" height="35px" class="house-img">
				</div>
				<div class="left-frame2">
					<img src="../../assets/picture/profile_house2.png" alt="LittleHouse" width="35px" height="35px" class="house-img">
				</div>
				<div class="left-frame3">
					<img src="../../assets/picture/profile_house2.png" alt="LittleHouse" width="35px" height="35px" class="house-img">
				</div>
				<div class="left-frame4">
					<img src="../../assets/picture/profile_house2.png" alt="LittleHouse" width="35px" height="35px" class="house-img">
				</div>
				<div class="left-frame5">
					<img src="../../assets/picture/profile_house2.png" alt="LittleHouse" width="35px" height="35px" class="house-img">
				</div>
			</div>
		</div>
		<div class="rights">All rights reserved 2022</div>
	</div>
	<div class="right-side">
		<div class="my-profile-and-frames">
			<div class="my-profile-text">My profile</div>
			<div class="frame-group">
					<div class="frame1">
						<img src="../../assets/picture/profile_pencil.png" alt="" height="35px" width="35px">
					</div>
					<div class="frame2">
						<img src="../../assets/picture/profile_heart.png" alt="" height="35px" width="35px">
					</div>
					<div class="frame3">
						<img src="../../assets/picture/profile_bell.png" alt="" height="35px" width="35px">
					</div>
			</div>
		</div>
		<div class="jess-and-prem">
			<div class="jessica">
				<div class="jessica-ellipse-name">
					<div class="jessica-photo"></div>
					<!-- <div class="ellipse4"></div> -->
					<div class="jessica-name">Jessica Holvay</div>
				</div>
				<div class="view-likes-days">
					<div class="view-series">
						<div class="view-34">34</div>
						<div class="view-series-text">View series</div>
					</div>
					<div class="likes-number">
						<div class="likes-17">17</div>
						<div class="likes">Likes</div>
					</div>
					<div class="number-days">
						<div class="days-172">172</div>
						<div class="days">Days together</div>
					</div>
				</div>
				<div class="loc-cal-mail-drama">
					<div class="loc-cal-mail-drama-images">
						<img src="../../assets/picture/profile_location.png" width="30px" height="30px">
						<img src="../../assets/picture/profile_calendar.png" width="30px" height="30px">
						<img src="../../assets/picture/profile_mail.png" width="30px" height="30px">
						<img src="../../assets/picture/profile_drama.png" width="30px" height="30px">
					</div>
					<div class="loc-cal-mail-drama-content">
						<div class="location-content">Boston,USA</div>
						<div class="data-content">07/04/1994</div>
						<div class="email-content">jessistar@gmail.com</div>
						<div class="drama-content">Drama</div>
					</div>
				</div>
			</div>
			<div class="prem-account">
				<div class="prem-title">Premium account</div>
				<div class="check-points-and-text">
					<div class="check-points">
						<img src="../../assets/picture/profile_check-point.png" width="35px" height="35px">
						<img src="../../assets/picture/profile_check-point.png" width="35px" height="35px">
						<img src="../../assets/picture/profile_check-point.png" width="35px" height="35px">
						<img src="../../assets/picture/profile_check-point.png" width="35px" height="35px">
						<img src="../../assets/picture/profile_check-point.png" width="35px" height="35px">
					</div>
					<div class="check-text">
						<div class="check-text1">HD available</div>
						<div class="check-text2">4K available</div>
						<div class="check-text3">Watch on your laptop and tablet</div>
						<div class="check-text4">Unlimited movies and TV shows</div>
						<div class="check-text5">Save movie to your device</div>
					</div>
					<div class="check-ponts-content"></div>
				</div>
				<div class="monthly-valid-button">
					<div class="monthly-valid">
						<div class="payment-monthly">499$ monthly</div>
						<div class="payment-valid">*payment is valid until 24.04</div>
					</div>
					<button class="btn-update"><span class="btn-text">Update</span></button>
				</div>
			</div>
		</div>
		<div class="recently-viewed-wrapper">
			<div class="recently-title">Recently viewed</div>
			<div class="recently-movies-wrapper">
				<div class="recently-image-text-wrapper">
					<img src="../../assets/picture/profile_Two_queens.jpg" height="256px" weight="200">
					<div class="recently-movies-text">Mary Queen of Scots</div>
				</div>
				<div class="recently-image-text-wrapper">
					<img src="../../assets/picture/profile_The_other_Boleyn_girl_poster.jpg" height="256px" weight="200">
					<div class="recently-movies-text">The Other Boleyn Girl</div>
				</div>
				<div class="recently-image-text-wrapper">
					<img src="../../assets/picture/profile_cinderella.png" height="256px" weight="200">
					<div class="recently-movies-text">Cinderella</div>
				</div>
				<div class="recently-image-text-wrapper">
					<img src="../../assets/picture/profile_tall_girl.jpg" height="256px" weight="200">
					<div class="recently-movies-text">Tall Girl</div>
				</div>
			</div>
		</div>
	</div>
</div>