<div class="art-galery-main-container">
	<div class="art-title-container">
		<div class="title-text1-container">
			<div class="text1-style">About us</div>
			<div class="text1-style">
				Courses
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="text1-style">Events</div>
		</div>
		<div class="title-text2">Art Galery</div>
		<div class="title-text3-container">
			<div class="title-text3">Contacts</div>
			<div class="title-text3">Foundation</div>
			<div class="title-text3">Art</div>
		</div>
	</div>
	<div class="home-page-container">
		<div class="home-page-left-side">
			<img class="home-page-img" alt="flowers" src="../../assets/picture/art-galery/home-page.png" width="736px" height="680px">
		</div>
		<div class="home-page-right-side">
			<div class="home-page-text">
				It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
				The point of using Lorem Ipsum is that it has a more-or-less normal distribution
			</div>
			<button class="home-page-btn">
				<span class="home-page-btn-text">See more</span>
				<img src="../../assets/picture/art-galery/arrow.png" alt="arrow" height="50px" width="50px">
			</button>
		</div>
	</div>
	<div class="art-collection-container">
		<div class="art-collection-title">
			Art collection
		</div>
		<div class="three-pictures-container">
			<img  class="first-picture" src="../../assets/picture/art-galery/first-picture.png" alt="first-picture">
			<img  class="second-picture" src="../../assets/picture/art-galery/second_picture.png" alt="second-picture">
			<img  class="third-picture" src="../../assets/picture/art-galery/third_picture.png" alt="third-picture">
		</div>
		<div class="arrows-container">
			<img src="../../assets/picture/art-galery/picture_arrow1.png" alt="picture_arrow1" width="100px" height="25px">
			<img src="../../assets/picture/art-galery/picture_arrow2.png" alt="picture_arrow1" width="100px" height="25px">
		</div>
	</div>
	<div class="two-angles-container">
		<div class="two-angels-content-container">
			<div class="two-angels-title">Reserve a place for an excursion</div>
			<div class="two-angels-form-container">
				<form class="two-angels-form">
					<input class="two-angles-input" type="text" placeholder="Name">
					<input class="two-angles-input" type="text" placeholder="Surname">
					<input class="two-angles-input" type="text" placeholder="Phone number">
					<input class="two-angles-input-btn" type="submit" value="Reserve">
				</form>
			</div>
		</div>
		<img class="two-angels-img1" src="../../assets/picture/art-galery/angel1.png" alt="angel1" width="447px" height="541">
		<img class="two-angels-img2" src="../../assets/picture/art-galery/angel2.png" alt="angel1" width="404px" height="669">
	</div>
	<div class="art-footer-main-container">
		<div class="art-footer-text-container1">
			<div class="art-footer-text1-title">Art Galery</div>
			<div>Blog</div>
		</div>
		<div class="art-footer-text-container2">
			<div>Contacts</div>
			<div>Courses</div>
		</div>
		<div class="art-footer-text-container3">
			<div>Events</div>
			<div>Foundation</div>
		</div>
		<div class="art-footer-text-container4">
			<div>About us</div>
			<div>Art</div>
		</div>
	</div>
</div>